body{ 
    font: 14px sans-serif;
}
.wrapper{ 
    width: 360px; padding: 20px;
}
.wrapperAplicacion{
    padding: 20px;
}
.products{
    width: 50px;
}
.submit{
    width: 170px;
    text-align: center;
    padding: 5px;
}
.productForm{
    margin: 30px 0px 30px 0px;
}
.compte{
    color: red;
}
table, th, td {
    border: 1px solid black;
}
td{
    padding: 5px;
}
tfoot{
    font-weight: bold;
}
.nomPerfum{
    text-align: left;
}
.lastTD, th{
    text-align: center !important;
}
.buidarCistella{
    background-color: #ff9595;
}
.actualitzarCistella{
    background-color: #e0ffb2;
}
.toTheRight {
    float: right;
}
.toTheLeft {
    float: left;
}